.alert.is-visible
    svg.alert__icon(width="15" height="11")
        use(xlink:href="img/sprite.svg#check")
    span Дані успішно збережні

.alert.alert--red
    svg.alert__icon(width="15" height="15")
        use(xlink:href="img/sprite.svg#cross")
    span Дані заповнено некоректно
