aside.content
    .content__panel
        .content__top
            h3.content__title Зміст документа

            button.content__close(aria-label="Close modal" data-content-toggle type="button")
                svg.content__close-icon(width="23" height="22")
                    use(xlink:href="img/sprite.svg#close-modal")

        .content__inner
            ul
                li.strong Кодекс України про адміністравні прапорушення
                    ul
                        li.strong Розділ III. Органи, уповноважені розлядати
                            ul
                                li.strong Глава 16. Осовні положення
                                    ul
                                        li
                                            a(href="#")
                                                span.red-color Стаття 213.
                                                |  Незаконне виготовлення, зберігання, збут або транспортування з метою збуту підакцизних товарів
                                        li
                                            a(href="#")
                                                span.red-color Стаття 213.
                                                |  Незаконне виготовлення, зберігання, збут або транспортування з метою збуту підакцизних товарів
                                        li
                                            a(href="#")
                                                span.red-color Стаття 213.
                                                |  Незаконне виготовлення, зберігання, збут або транспортування з метою збуту підакцизних товарів
                                        li
                                            a(href="#")
                                                span.red-color Стаття 213.
                                                |  Незаконне виготовлення, зберігання, збут або транспортування з метою збуту підакцизних товарів

                                li.strong Глава 16. Осовні положення
                                    ul
                                        li
                                            a(href="#")
                                                span.red-color Стаття 213.
                                                |  Незаконне виготовлення, зберігання, збут або транспортування з метою збуту підакцизних товарів
