aside.filter.is-hide
    .filter__panel
        .filter__top
            .logo.filter__logo
                a.logo__link(href="#" aria-label="logo")
                    img.logo__img(src="img/logo-white.png" srcset="img/logo-white@2x.png 2x" width="82" height="61" alt="logo")

            button.burger.filter__burger(type="button" aria-label="Open sidebar" aria-expanded="false" data-modal-once="modal-tip-7" data-sidebar-toggle)
                .burger__line
                .burger__line
                .burger__line

        .filter__inner
            .filter__header
                h3.filter__title
                    svg.filter__title-icon(width="38" height="38")
                        use(xlink:href="img/sprite.svg#filter")
                    span Фільтр

                button.button.button--md.button--outline.filter__recommend-button(type="button" aria-label="Recommended categories")
                    svg.button__icon.button__icon--light(width="24" height="24")
                        use(xlink:href="img/sprite.svg#idea")
                    | Рекомендовані категорії

                button.button.button--outline.filter__hide-button(type="button" aria-label="Hide Filter" data-modal-once="modal-tip-3" data-tooltip-left="Регулювання масштабу" data-filter-hide)
                    svg.button__icon(width="10" height="19")
                        use(xlink:href="img/sprite.svg#arrow-left")
                
                button.button.button--outline.filter__toggle-button(type="button" aria-label="Hide Filter" data-filter-toggle)
                    svg.button__icon(width="17" height="17")
                        use(xlink:href="img/sprite.svg#close-modal")

            .filter__sticky-header
                ul.actions.filter__actions
                    li.actions__item
                        button.button.button--outline.actions__button.is-active(type="button" aria-label="KK") КК
                    
                    li.actions__item
                        button.button.button--outline.actions__button(type="button" aria-label="KПK") КПК
                    
                    li.actions__item
                        button.button.button--outline.actions__button(type="button" aria-label="List")
                            svg.button__icon(width="17" height="12")
                                use(xlink:href="img/sprite.svg#list")
                    
                    li.actions__item
                        button.button.button--outline.actions__button(type="button" aria-label="View" disabled)
                            svg.button__icon(width="17" height="11")
                                use(xlink:href="img/sprite.svg#eye")
                    
                    li.actions__item
                        button.button.button--outline.actions__button(type="button" aria-label="Bookmarks")
                            svg.button__icon(width="16" height="20")
                                use(xlink:href="img/sprite.svg#bookmark")

                    li.actions__item
                        button.button.button--outline.actions__button(type="button" aria-label="Recommended categories")
                            svg.button__icon.button__icon--light(width="24" height="24")
                                use(xlink:href="img/sprite.svg#idea")

                    li.actions__item
                        button.button.button--outline.actions__button(type="button" aria-label="Hide Filter" data-filter-toggle)
                            svg.button__icon(width="17" height="17")
                                use(xlink:href="img/sprite.svg#close-modal")
                        
                form.search.filter__search(id="filter-search-form" autocomplete="off" novalidate="novalidate")
                    .search__group
                        input#inputFilterSearch.input.search__input(type="text" name="inputFilterSearch" placeholder="Пошук..." autocomplete="off" required)

                        button.search__button
                            svg.search__icon(width="21" height="21")
                                use(xlink:href="img/sprite.svg#search")

                button.filter__collapse-button(type="button" aria-label="Filter collapse" data-filter-collapse)
                    svg(width="12" height="8")
                        use(xlink:href="img/sprite.svg#dropdown-arrow")

            .accordion.filter__accordion
                .accordion__panel
                    .accordion__header#accordion-header-1
                        h3.accordion__title КК

                        button.accordion__trigger(aria-expanded="true" aria-controls="accordion-content-1" data-modal-once="modal-tip-4")
                            svg.accordion__icon(width="15" height="8")
                                use(xlink:href="img/sprite.svg#dropdown-arrow")

                    .accordion__content#accordion-content-1(role="region" aria-labelledby="accordion-header-1" aria-hidden="false")
                        .accordion__inner
                            .accordion__panel
                                .accordion__header#accordion-header-2
                                    .checkbox.accordion__checkbox
                                        input.checkbox__input#accordion-checkbox-2(type="checkbox" name="checkbox" value="true" required)
                                        label.checkbox__label(for="accordion-checkbox-2") 
                                            strong.red-color 625 - 675
                                            |  ст. №-№130 Розділ 1 загальні положення

                                    button.accordion__trigger(aria-expanded="true" aria-controls="accordion-content-2")
                                        svg.accordion__icon(width="15" height="8")
                                            use(xlink:href="img/sprite.svg#dropdown-arrow")

                                .accordion__content#accordion-content-2(role="region" aria-labelledby="accordion-header-2" aria-hidden="false")
                                    .accordion__inner
                                        .accordion__panel
                                            .accordion__header#accordion-header-6
                                                .checkbox.accordion__checkbox
                                                    input.checkbox__input#accordion-checkbox-6(type="checkbox" name="checkbox" value="true" required)
                                                    label.checkbox__label(for="accordion-checkbox-6") ст. №-№130 Розділ 1 загальні положення

                                                button.accordion__trigger(aria-expanded="true" aria-controls="accordion-content-6")
                                                    svg.accordion__icon(width="15" height="8")
                                                        use(xlink:href="img/sprite.svg#dropdown-arrow")

                                            .accordion__content#accordion-content-6(role="region" aria-labelledby="accordion-header-6" aria-hidden="false")
                                                .accordion__inner
                                                    .accordion__panel
                                                        .accordion__header#accordion-header-9
                                                            .checkbox.accordion__checkbox
                                                                input.checkbox__input#accordion-checkbox-9(type="checkbox" name="checkbox" value="true" required)
                                                                label.checkbox__label(for="accordion-checkbox-9") ст. №-№131 Розділ 1 загальні положення Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, eius.

                                                            button.accordion__trigger(aria-expanded="true" aria-controls="accordion-content-9")
                                                                svg.accordion__icon(width="15" height="8")
                                                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                                                        .accordion__content#accordion-content-9(role="region" aria-labelledby="accordion-header-9" aria-hidden="false")
                                                            .accordion__inner
                                                                .accordion__panel
                                                                    .accordion__header#accordion-header-91
                                                                        .checkbox.accordion__checkbox
                                                                            input.checkbox__input#accordion-checkbox-91(type="checkbox" name="checkbox" value="true" required)
                                                                            label.checkbox__label(for="accordion-checkbox-91") ст. №-№131 Розділ 1 загальні положення Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, eius.

                                                                        button.accordion__trigger(aria-expanded="true" aria-controls="accordion-content-91")
                                                                            svg.accordion__icon(width="15" height="8")
                                                                                use(xlink:href="img/sprite.svg#dropdown-arrow")

                                                                    .accordion__content#accordion-content-91(role="region" aria-labelledby="accordion-header-91" aria-hidden="false")
                                                                        .accordion__inner
                                                                            .accordion__panel
                                                                                .accordion__header#accordion-header-92
                                                                                    .checkbox.accordion__checkbox
                                                                                        input.checkbox__input#accordion-checkbox-92(type="checkbox" name="checkbox" value="true" required)
                                                                                        label.checkbox__label(for="accordion-checkbox-92") ст. №-№131 Розділ 1 загальні положення Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, eius.

                                                                                    button.accordion__trigger(aria-expanded="true" aria-controls="accordion-content-92")
                                                                                        svg.accordion__icon(width="15" height="8")
                                                                                            use(xlink:href="img/sprite.svg#dropdown-arrow")

                                                                                .accordion__content#accordion-content-92(role="region" aria-labelledby="accordion-header-92" aria-hidden="false")
                                                                                    .accordion__inner
                                                                                        .accordion__panel
                                                                                            .accordion__header#accordion-header-93
                                                                                                .checkbox.accordion__checkbox
                                                                                                    input.checkbox__input#accordion-checkbox-93(type="checkbox" name="checkbox" value="true" required)
                                                                                                    label.checkbox__label(for="accordion-checkbox-93") ст. №-№131 Розділ 1 загальні положення Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, eius.

                                                                                                button.accordion__trigger(aria-expanded="true" aria-controls="accordion-content-93")
                                                                                                    svg.accordion__icon(width="15" height="8")
                                                                                                        use(xlink:href="img/sprite.svg#dropdown-arrow")

                                                                                            .accordion__content#accordion-content-93(role="region" aria-labelledby="accordion-header-93" aria-hidden="false")
                                                                                                .accordion__inner
                                                                                                    .accordion__panel
                                                                                                        .accordion__header#accordion-header-94
                                                                                                            .checkbox.accordion__checkbox
                                                                                                                input.checkbox__input#accordion-checkbox-94(type="checkbox" name="checkbox" value="true" required)
                                                                                                                label.checkbox__label(for="accordion-checkbox-94") ст. №-№131 Розділ 1 загальні положення Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, eius.

                                                                                                            button.accordion__trigger(aria-expanded="true" aria-controls="accordion-content-94")
                                                                                                                svg.accordion__icon(width="15" height="8")
                                                                                                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                                                                                                        .accordion__content#accordion-content-94(role="region" aria-labelledby="accordion-header-94" aria-hidden="false")
                                                                                                            .accordion__inner
                                                                                                                .accordion__text
                                                                                                                    .checkbox.checkbox--light.accordion__checkbox
                                                                                                                        input.checkbox__input#accordion-checkbox-95(type="checkbox" name="checkbox" value="true" required checked)
                                                                                                                        label.checkbox__label(for="accordion-checkbox-95") Cт. 1

                                                    .accordion__panel
                                                        .accordion__header#accordion-header-10
                                                            .checkbox.accordion__checkbox
                                                                input.checkbox__input#accordion-checkbox-10(type="checkbox" name="checkbox" value="true" required)
                                                                label.checkbox__label(for="accordion-checkbox-10") ст. №-№130 Розділ 1 загальні положення

                                                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-10")
                                                                svg.accordion__icon(width="15" height="8")
                                                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                                                        .accordion__content#accordion-content-10(role="region" aria-labelledby="accordion-header-10" aria-hidden="true")
                                                            .accordion__inner
                                                                .accordion__text
                                                                    .checkbox.accordion__checkbox
                                                                        input.checkbox__input#accordion-checkbox-101(type="checkbox" name="checkbox" value="true" required)
                                                                        label.checkbox__label(for="accordion-checkbox-101") Cт. 1

                                                    .accordion__panel
                                                        .accordion__header#accordion-header-11
                                                            .checkbox.accordion__checkbox
                                                                input.checkbox__input#accordion-checkbox-11(type="checkbox" name="checkbox" value="true" required)
                                                                label.checkbox__label(for="accordion-checkbox-11") ст. №-№130 Розділ 1 загальні положення

                                                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-11")
                                                                svg.accordion__icon(width="15" height="8")
                                                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                                                        .accordion__content#accordion-content-11(role="region" aria-labelledby="accordion-header-11" aria-hidden="true")
                                                            .accordion__inner
                                                                .accordion__text
                                                                    .checkbox.accordion__checkbox
                                                                        input.checkbox__input#accordion-checkbox-111(type="checkbox" name="checkbox" value="true" required)
                                                                        label.checkbox__label(for="accordion-checkbox-111") Cт. 1

                                        .accordion__panel
                                            .accordion__header#accordion-header-7
                                                .checkbox.accordion__checkbox
                                                    input.checkbox__input#accordion-checkbox-7(type="checkbox" name="checkbox" value="true" required)
                                                    label.checkbox__label(for="accordion-checkbox-7") ст. №-№130 Розділ 1 загальні положення

                                                button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-7")
                                                    svg.accordion__icon(width="15" height="8")
                                                        use(xlink:href="img/sprite.svg#dropdown-arrow")

                                            .accordion__content#accordion-content-7(role="region" aria-labelledby="accordion-header-7" aria-hidden="true")
                                                .accordion__inner
                                                    .accordion__text
                                                        .checkbox.accordion__checkbox
                                                            input.checkbox__input#accordion-checkbox-71(type="checkbox" name="checkbox" value="true" required)
                                                            label.checkbox__label(for="accordion-checkbox-71") Cт. 1

                                        .accordion__panel
                                            .accordion__header#accordion-header-8
                                                .checkbox.accordion__checkbox
                                                    input.checkbox__input#accordion-checkbox-8(type="checkbox" name="checkbox" value="true" required)
                                                    label.checkbox__label(for="accordion-checkbox-8") ст. №-№130 Розділ 1 загальні положення

                                                button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-8")
                                                    svg.accordion__icon(width="15" height="8")
                                                        use(xlink:href="img/sprite.svg#dropdown-arrow")

                                            .accordion__content#accordion-content-8(role="region" aria-labelledby="accordion-header-8" aria-hidden="true")
                                                .accordion__inner
                                                    .accordion__text
                                                        .checkbox.accordion__checkbox
                                                            input.checkbox__input#accordion-checkbox-81(type="checkbox" name="checkbox" value="true" required)
                                                            label.checkbox__label(for="accordion-checkbox-81") Cт. 1

                            .accordion__panel
                                .accordion__header#accordion-header-3
                                    .checkbox.accordion__checkbox
                                        input.checkbox__input#accordion-checkbox-3(type="checkbox" name="checkbox" value="true" required)
                                        label.checkbox__label(for="accordion-checkbox-3") ст. №-№130 Розділ 1 загальні положення

                                    button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-3")
                                        svg.accordion__icon(width="15" height="8")
                                            use(xlink:href="img/sprite.svg#dropdown-arrow")

                                .accordion__content#accordion-content-3(role="region" aria-labelledby="accordion-header-3" aria-hidden="true")
                                    .accordion__inner
                                        .accordion__text
                                            .checkbox.accordion__checkbox
                                                input.checkbox__input#accordion-checkbox-31(type="checkbox" name="checkbox" value="true" required)
                                                label.checkbox__label(for="accordion-checkbox-31") Cт. 1

                            .accordion__panel
                                .accordion__header#accordion-header-4
                                    .checkbox.accordion__checkbox
                                        input.checkbox__input#accordion-checkbox-4(type="checkbox" name="checkbox" value="true" required)
                                        label.checkbox__label(for="accordion-checkbox-4") ст. №-№130 Розділ 1 загальні положення

                                    button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-4")
                                        svg.accordion__icon(width="15" height="8")
                                            use(xlink:href="img/sprite.svg#dropdown-arrow")

                                .accordion__content#accordion-content-4(role="region" aria-labelledby="accordion-header-4" aria-hidden="true")
                                    .accordion__inner
                                        .accordion__text
                                            .checkbox.accordion__checkbox
                                                input.checkbox__input#accordion-checkbox-41(type="checkbox" name="checkbox" value="true" required)
                                                label.checkbox__label(for="accordion-checkbox-41") Cт. 1
                            
                            .accordion__panel
                                .accordion__header#accordion-header-5
                                    .checkbox.accordion__checkbox
                                        input.checkbox__input#accordion-checkbox-5(type="checkbox" name="checkbox" value="true" required)
                                        label.checkbox__label(for="accordion-checkbox-5") ст. №-№130 Розділ 1 загальні положення

                                    button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-5")
                                        svg.accordion__icon(width="15" height="8")
                                            use(xlink:href="img/sprite.svg#dropdown-arrow")

                                .accordion__content#accordion-content-5(role="region" aria-labelledby="accordion-header-5" aria-hidden="true")
                                    .accordion__inner
                                        .accordion__text
                                            .checkbox.accordion__checkbox
                                                input.checkbox__input#accordion-checkbox-51(type="checkbox" name="checkbox" value="true" required)
                                                label.checkbox__label(for="accordion-checkbox-51") Cт. 1

        .filter__bottom
            button.button.button--outline.filter__button(type="button") Скинути
            button.button.filter__button(type="button") Показати (213)
