aside.sidebar
    .sidebar__panel
        .sidebar__inner
            nav.sidebar-menu
                ul.sidebar-menu__list
                    li.sidebar-menu__item
                        a.sidebar-menu__link.is-active(href="#")
                            span.sidebar-menu__pic
                                svg.sidebar-menu__icon(width="17" height="19")
                                    use(xlink:href="img/sprite.svg#user")

                            span.sidebar-menu__title Мій профіль

                    li.sidebar-menu__item
                        a.sidebar-menu__link(href="#")
                            span.sidebar-menu__pic
                                svg.sidebar-menu__icon(width="22" height="18")
                                    use(xlink:href="img/sprite.svg#book")
                            span.sidebar-menu__title Збірник

                    li.sidebar-menu__item
                        a.sidebar-menu__link(href="#")
                            span.sidebar-menu__pic
                                svg.sidebar-menu__icon(width="16" height="20")
                                    use(xlink:href="img/sprite.svg#bookmark")
                            
                            span.sidebar-menu__title Закладки

                    li.sidebar-menu__item
                        a.sidebar-menu__link(href="#")
                            span.sidebar-menu__pic
                                svg.sidebar-menu__icon(width="17" height="21")
                                    use(xlink:href="img/sprite.svg#file")

                            span.sidebar-menu__title Робота з файлами
                    
                    li.sidebar-menu__item
                        a.sidebar-menu__link(href="#")
                            span.sidebar-menu__pic
                                svg.sidebar-menu__icon(width="21" height="17")
                                    use(xlink:href="img/sprite.svg#folder")

                            span.sidebar-menu__title Реєстри
                    
                    li.sidebar-menu__item
                        a.sidebar-menu__link(href="#")
                            span.sidebar-menu__pic
                                svg.sidebar-menu__icon(width="20" height="19")
                                    use(xlink:href="img/sprite.svg#subscribe")

                            span.sidebar-menu__title Моя підписка

                    li.sidebar-menu__item
                        a.button.button--outline.sidebar-menu__button(href="#") Модуль КК

                    li.sidebar-menu__item
                        a.button.button--outline.sidebar-menu__button(href="#") Модуль КПК
