section.bookmarks-section
    .container.bookmarks-section__container
        .filter-toggle
            h3.filter-toggle__title Фільтр
                span.filter-toggle__info.green-color У вас є активні фільтри
            
            button.button.button--outline.filter-toggle__button(type="button" aria-label="Hide Filter" data-filter-toggle)
                svg.button__icon(width="20" height="20")
                    use(xlink:href="img/sprite.svg#filter")
                    
        header.bookmarks-section__header
            .bookmarks-section__header-row
                h1.page-title.bookmarks-section__title Мій профіль

                form.sort-form.bookmarks-section__sort-form(id="sort-form" autocomplete="off" novalidate="novalidate")
                    .sort-form__group
                        select#selectSortBy.select(name="selectSortBy" aria-label="Sort by" required)
                            option(value="1") Сортувати за датою
                            option(value="2") Сортувати за назвою

            .bookmarks-section__header-row
                button.button.button--outline.bookmarks-section__back-button(type="button" aria-label="Back" data-tooltip="Назад")
                    svg.button__icon(width="10" height="19")
                        use(xlink:href="img/sprite.svg#arrow-left")
                        
                form.search.bookmarks-section__search(id="bookmark-search-form" autocomplete="off" novalidate="novalidate")
                    .search__group
                        input#inputBookmarkSearch.input.search__input(type="text" name="inputBookmarkSearch" placeholder="Пошук по файлах" autocomplete="off" required)

                        button.search__button
                            svg.search__icon(width="21" height="21")
                                use(xlink:href="img/sprite.svg#search")

                .bookmarks-section__buttons
                    button.button.button--outline.bookmarks-section__button(type="button") Додати статтю
                    button.button.button--outline.bookmarks-section__button(type="button" data-modal="modal-create") Створити папку

        ul.bookmarks-section__list
            li.bookmarks-section__item
                .bookmark-card
                    .bookmark-card-menu.is-dropdown
                        button.bookmark-card-menu__toggle.is-dropdown__toggle
                            svg.bookmark-card-menu__toggle-icon(width="4" height="18")
                                use(xlink:href="img/sprite.svg#dots")
                        
                        ul.bookmark-card-menu__dropdown
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Редагувати
                            
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Видалити

                    a.bookmark-card__link(href="#")
                        .bookmark-card__pic
                            svg.bookmark-card__icon(width="90" height="77")
                                use(xlink:href="img/sprite.svg#case")

                        h3.bookmark-card__title Ухв про поверн ОА за пп. 5 п. 4 Прикінцевих не оскаржується
                        .bookmark-card__info 7 файлів
            
            li.bookmarks-section__item
                .bookmark-card
                    .bookmark-card-menu.is-dropdown
                        button.bookmark-card-menu__toggle.is-dropdown__toggle
                            svg.bookmark-card-menu__toggle-icon(width="4" height="18")
                                use(xlink:href="img/sprite.svg#dots")
                        
                        ul.bookmark-card-menu__dropdown
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Редагувати
                            
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Видалити

                    a.bookmark-card__link(href="#")
                        .bookmark-card__pic
                            svg.bookmark-card__icon(width="90" height="77")
                                use(xlink:href="img/sprite.svg#case")

                        h3.bookmark-card__title Папка Фінанси
                        .bookmark-card__info 7 файлів
            
            li.bookmarks-section__item
                .bookmark-card
                    .bookmark-card-menu.is-dropdown
                        button.bookmark-card-menu__toggle.is-dropdown__toggle
                            svg.bookmark-card-menu__toggle-icon(width="4" height="18")
                                use(xlink:href="img/sprite.svg#dots")
                        
                        ul.bookmark-card-menu__dropdown
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Редагувати
                            
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Видалити

                    a.bookmark-card__link(href="#")
                        .bookmark-card__pic
                            svg.bookmark-card__icon(width="90" height="77")
                                use(xlink:href="img/sprite.svg#case")

                        h3.bookmark-card__title Папка Фінанси
                        .bookmark-card__info 7 файлів

            li.bookmarks-section__item
                .bookmark-card
                    .bookmark-card-menu.is-dropdown
                        button.bookmark-card-menu__toggle.is-dropdown__toggle
                            svg.bookmark-card-menu__toggle-icon(width="4" height="18")
                                use(xlink:href="img/sprite.svg#dots")
                        
                        ul.bookmark-card-menu__dropdown
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Редагувати
                            
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Видалити

                    a.bookmark-card__link(href="#")
                        .bookmark-card__pic
                            svg.bookmark-card__icon(width="90" height="77")
                                use(xlink:href="img/sprite.svg#case")

                        h3.bookmark-card__title Папка Фінанси
                        .bookmark-card__info 7 файлів
            
            li.bookmarks-section__item
                .bookmark-card
                    .bookmark-card-menu.is-dropdown
                        button.bookmark-card-menu__toggle.is-dropdown__toggle
                            svg.bookmark-card-menu__toggle-icon(width="4" height="18")
                                use(xlink:href="img/sprite.svg#dots")
                        
                        ul.bookmark-card-menu__dropdown
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Редагувати
                            
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Видалити

                    a.bookmark-card__link(href="#")
                        .bookmark-card__pic
                            svg.bookmark-card__icon(width="80" height="90")
                                use(xlink:href="img/sprite.svg#proposition-2")

                        h3.bookmark-card__title Назва пропозиції
            
            li.bookmarks-section__item
                .bookmark-card
                    .bookmark-card-menu.is-dropdown
                        button.bookmark-card-menu__toggle.is-dropdown__toggle
                            svg.bookmark-card-menu__toggle-icon(width="4" height="18")
                                use(xlink:href="img/sprite.svg#dots")
                        
                        ul.bookmark-card-menu__dropdown
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Редагувати
                            
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Видалити

                    a.bookmark-card__link(href="#")
                        .bookmark-card__pic
                            svg.bookmark-card__icon(width="80" height="90")
                                use(xlink:href="img/sprite.svg#proposition-2")

                        h3.bookmark-card__title Назва пропозиції
            
            li.bookmarks-section__item
                .bookmark-card
                    .bookmark-card-menu.is-dropdown
                        button.bookmark-card-menu__toggle.is-dropdown__toggle
                            svg.bookmark-card-menu__toggle-icon(width="4" height="18")
                                use(xlink:href="img/sprite.svg#dots")
                        
                        ul.bookmark-card-menu__dropdown
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Редагувати
                            
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Видалити

                    a.bookmark-card__link(href="#")
                        .bookmark-card__pic
                            svg.bookmark-card__icon(width="80" height="90")
                                use(xlink:href="img/sprite.svg#proposition-3")

                        h3.bookmark-card__title Назва пропозиції

            li.bookmarks-section__item
                .bookmark-card
                    .bookmark-card-menu.is-dropdown
                        button.bookmark-card-menu__toggle.is-dropdown__toggle
                            svg.bookmark-card-menu__toggle-icon(width="4" height="18")
                                use(xlink:href="img/sprite.svg#dots")
                        
                        ul.bookmark-card-menu__dropdown
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Редагувати
                            
                            li.bookmark-card-menu__item
                                a.bookmark-card-menu__link(href="#") Видалити

                    a.bookmark-card__link(href="#")
                        .bookmark-card__pic
                            svg.bookmark-card__icon(width="80" height="90")
                                use(xlink:href="img/sprite.svg#proposition-3")

                        h3.bookmark-card__title Назва пропозиції
