section.collection-section
    .container.collection-section__container
        .filter-toggle.collection-section__filter-toggle
            h3.filter-toggle__title Фільтр
                span.filter-toggle__info.green-color У вас є активні фільтри
            
            button.button.button--outline.filter-toggle__button.is-active(type="button" aria-label="Hide Filter" data-filter-toggle)
                svg.button__icon(width="20" height="20")
                    use(xlink:href="img/sprite.svg#filter")

        form.sort-form.collection-section__sort-form(id="sort-form" autocomplete="off" novalidate="novalidate")
            .sort-form__group
                select#selectSortBy.select(name="selectSortBy" aria-label="Sort by" required)
                    option(value="1") Сортувати за зростанням
                    option(value="2") Сортувати за ієрархією судових рішень (ВПВС, ОПВС, ККСВС) та хронологією

        table.collection-table
            thead.collection-table__thead
                tr
                    th Дата
                        //- .sort
                        //-     button.sort__button(type="button" aria-label="Sort up")
                        //-         svg.sort__icon(width="11" height="6")
                        //-             use(xlink:href="img/sprite.svg#sort-up-arrow")
                            
                        //-     button.sort__button(type="button" aria-label="Sort up")
                        //-         svg.sort__icon(width="11" height="6")
                        //-             use(xlink:href="img/sprite.svg#sort-down-arrow")

                    th Назва статті
                    th
                        .collection-table__th-wrap
                            span Опис

                            .collection-table__th-group
                                .text-options.collection-table__text-options
                                    .text-options__item
                                        .text-options__title Шрифт

                                        a.text-options__info(href="#" data-modal="modal-tip-15")
                                            svg(width="22" height="22")
                                                use(xlink:href="img/sprite.svg#info") 

                                        .text-options__controls
                                            button.button.button--outline.text-options__button(type="button" aria-label="Minus") -
                                            button.button.button--outline.text-options__button(type="button" aria-label="Plus") +

                                    .text-options__item
                                        .switch.collection-table__switch
                                            input.switch__input#new-tab-switch(type="checkbox" name="checkbox" value="true")
                                            label.switch__label(for="new-tab-switch")
                                        
                                        a.text-options__info(href="#" data-modal="modal-tip-15")
                                            svg(width="22" height="22")
                                                use(xlink:href="img/sprite.svg#info") 

                                    .text-options__item
                                        .text-options__title Кіл-ть символів

                                        a.text-options__info(href="#" data-modal="modal-tip-15")
                                            svg(width="22" height="22")
                                                use(xlink:href="img/sprite.svg#info") 

                                        .text-options__controls
                                            button.button.button--outline.text-options__button(type="button" aria-label="Minus") -
                                            button.button.button--outline.text-options__button(type="button" aria-label="Plus") +

                                    .text-options__item
                                        button.button-link.collection-table__reset-button(type="button") Скинути

                                form.sort-form.collection-table__sort-form(id="sort-table-form" autocomplete="off" novalidate="novalidate")
                                    .sort-form__group
                                        select#selectSortBy.select(name="selectSortBy" aria-label="Sort by" required)
                                            option(value="1") Сортувати за спаданням
                                            option(value="2") Сортувати за ієрархією судових рішень (ВПВС, ОПВС, ККСВС) та хронологією
            
            tbody.collection-table__tbody
                tr
                    td
                        a.collection-table__date(href="#") 27.11.2023
                        a.collection-table__info(href="#") ккс вс

                        ul.actions.actions--center.collection-table__actions
                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Add to bookmarks" data-tooltip="В закладки" data-modal="modal-bookmark")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#bookmark")

                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Download" data-tooltip="Скачати")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#download")

                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Share" data-tooltip="Поділитися")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#share")
                    
                    td
                        h4.collection-table__title
                            a.black-link(href="#" target="_blank") Кримінальне процесуальне законодавство України

                        .collection-table__link-group  
                            a.blue-link.collection-table__link(href="#" target="_blank") Посилання на рішення

                            button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                                svg.button__icon(width="14" height="14")
                                    use(xlink:href="img/sprite.svg#copy")
                    
                    td
                        .collection-descr
                            a.black-link.collection-descr__text(href="#" target="_blank")
                                p Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки... Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки...
                                
                                .collection-descr__hidden
                                    p Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки... Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки...

                            button.collection-descr__more(type="button")
                                span Читати детальніше
                                svg.collection-descr__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")
                            
                            button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                                svg.button__icon(width="14" height="14")
                                    use(xlink:href="img/sprite.svg#copy")

                tr
                    td
                        a.collection-table__date(href="#") 27.11.2023
                        a.collection-table__info(href="#") ккс вс
                        
                        ul.actions.actions--center.collection-table__actions
                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Add to bookmarks" data-tooltip="В закладки" data-modal="modal-bookmark")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#bookmark")

                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Download" data-tooltip="Скачати")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#download")

                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Share" data-tooltip="Поділитися")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#share")
                    
                    td
                        h4.collection-table__title
                            a.black-link(href="#" target="_blank") Кримінальне процесуальне законодавство України

                        .collection-table__link-group  
                            a.blue-link.collection-table__link(href="#" target="_blank") Посилання на рішення

                            button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                                svg.button__icon(width="14" height="14")
                                    use(xlink:href="img/sprite.svg#copy")
                    
                    td
                        .collection-descr
                            a.black-link.collection-descr__text(href="#" target="_blank")
                                p Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки... Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки...
                                
                                .collection-descr__hidden
                                    p Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки... Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки...

                            button.collection-descr__more(type="button")
                                span Читати детальніше
                                svg.collection-descr__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")
                            
                            button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                                svg.button__icon(width="14" height="14")
                                    use(xlink:href="img/sprite.svg#copy")
                
                tr
                    td
                        a.collection-table__date(href="#") 27.11.2023
                        a.collection-table__info(href="#") ккс вс
                        
                        ul.actions.actions--center.collection-table__actions
                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Add to bookmarks" data-tooltip="В закладки" data-modal="modal-bookmark")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#bookmark")

                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Download" data-tooltip="Скачати")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#download")

                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Share" data-tooltip="Поділитися")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#share")
                    
                    td
                        h4.collection-table__title
                            a.black-link(href="#" target="_blank") Кримінальне процесуальне законодавство України

                        .collection-table__link-group  
                            a.blue-link.collection-table__link(href="#" target="_blank") Посилання на рішення

                            button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                                svg.button__icon(width="14" height="14")
                                    use(xlink:href="img/sprite.svg#copy")
                    
                    td
                        .collection-descr
                            a.black-link.collection-descr__text(href="#" target="_blank")
                                p Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки... Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки...
                                
                                .collection-descr__hidden
                                    p Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки... Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки...

                            button.collection-descr__more(type="button")
                                span Читати детальніше
                                svg.collection-descr__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")
                            
                            button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                                svg.button__icon(width="14" height="14")
                                    use(xlink:href="img/sprite.svg#copy")
                                    
                tr
                    td
                        a.collection-table__date(href="#") 27.11.2023
                        a.collection-table__info(href="#") ккс вс
                        
                        ul.actions.actions--center.collection-table__actions
                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Add to bookmarks" data-tooltip="В закладки" data-modal="modal-bookmark")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#bookmark")

                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Download" data-tooltip="Скачати")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#download")

                            li.actions__item
                                button.button.button--xs.button--outline(type="button" aria-label="Share" data-tooltip="Поділитися")
                                    svg.button__icon(width="14" height="14")
                                        use(xlink:href="img/sprite.svg#share")
                    
                    td
                        h4.collection-table__title
                            a.black-link(href="#" target="_blank") Кримінальне процесуальне законодавство України

                        .collection-table__link-group  
                            a.blue-link.collection-table__link(href="#" target="_blank") Посилання на рішення

                            button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                                svg.button__icon(width="14" height="14")
                                    use(xlink:href="img/sprite.svg#copy")
                    
                    td
                        .collection-descr
                            a.black-link.collection-descr__text(href="#" target="_blank")
                                p Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки... Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки...
                                
                                .collection-descr__hidden
                                    p Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки... Онлайн-сервисы помогают пользователям решать самые разные задачи в интернете: проводить финансовые транзакции, совершать покупки...

                            button.collection-descr__more(type="button")
                                span Читати детальніше
                                svg.collection-descr__more-icon(width="8" height="4")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")
                            
                            button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                                svg.button__icon(width="14" height="14")
                                    use(xlink:href="img/sprite.svg#copy")

        nav.pagenav.collection-section__pagenav(aria-label="Page navigation")
            button.pagenav__load-more(type="button")
                svg(width="18" height="18")
                    use(xlink:href="img/sprite.svg#load")
                | Показати ще

            ul.pagenav__list
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Previous")
                        svg.pagenav__icon(width="7" height="14")
                            use(xlink:href="img/sprite.svg#arrow-left")
                li.pagenav__item.is-active(aria-current="page")
                    a.pagenav__link(href="#") 1
                li.pagenav__item
                    a.pagenav__link(href="#") 2
                li.pagenav__item
                    span ...
                li.pagenav__item
                    a.pagenav__link(href="#") 7
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Next")
                        svg.pagenav__icon(width="7" height="14")
                            use(xlink:href="img/sprite.svg#arrow-right")
