section.page-section
    .container.page-section__container
        header.page-section__header
            .page-section__descr
                button.button.button--outline.page-section__back-button(type="button" aria-label="Back" data-tooltip="Назад")
                    svg.button__icon(width="10" height="19")
                        use(xlink:href="img/sprite.svg#arrow-left")

                .page-section__info
                    h1.page-title.page-section__title Ст. 1 глава 1 Кримінальне процесуальне законодавство
                    a.blue-link.page-section__link(href="#") Посилання на рішення 

        .page-section__text
            p
                strong.blue-color Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
            p
                strong.blue-color Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
        
        .page-section__buttons
            button.button.page-section__button(type="button") Зберегти
            button.button.button--outline.page-section__button(type="button") Экспорт у Word
                svg.button__icon(width="28" height="28")
                    use(xlink:href="img/sprite.svg#word")

        .page-section__editor Місце для редактора
