section.page-section
    .container.page-section__container
        header.page-section__header
            .page-section__descr
                button.button.button--outline.page-section__back-button(type="button" aria-label="Back" data-tooltip="Назад")
                    svg.button__icon(width="10" height="19")
                        use(xlink:href="img/sprite.svg#arrow-left")

                .page-section__info
                    h1.page-title.page-section__title Ст. 1 глава 1 Кримінальне процесуальне законодавство
                    a.blue-link.page-section__link(href="#") Посилання на рішення 

            ul.actions.page-section__actions
                li.actions__item
                    button.button.button--outline.actions__button(type="button" aria-label="Add to bookmarks" data-tooltip="В закладки" data-modal="modal-bookmark")
                        svg.button__icon(width="19" height="24")
                            use(xlink:href="img/sprite.svg#bookmark")

                li.actions__item
                    button.button.button--outline.actions__button(type="button" aria-label="Add page" data-tooltip="Робота з файлом" data-modal="modal-file")
                        svg.button__icon(width="22" height="24")
                            use(xlink:href="img/sprite.svg#create")

                li.actions__item
                    button.button.button--outline.actions__button(type="button" aria-label="Copy" data-tooltip="Копіювати")
                        svg.button__icon(width="22" height="22")
                            use(xlink:href="img/sprite.svg#copy")

        .page-section__text
            p
                strong.blue-color Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
            p
                strong.blue-color Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
            p 1. Порядок кримінального провадження на території України визначається лише кримінальним процесуальним законодавством України.
            p 2. Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
            p 3. Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
            p 1. Порядок кримінального провадження на території України визначається лише кримінальним процесуальним законодавством України.
            p 2. Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
            p 3. Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
            p 1. Порядок кримінального провадження на території України визначається лише кримінальним процесуальним законодавством України.
            p 2. Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
            p 3. Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
            p 1. Порядок кримінального провадження на території України визначається лише кримінальним процесуальним законодавством України.
            p 2. Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
            p 3. Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.