section.page-section
    .container.page-section__container
        .filter-toggle
            h3.filter-toggle__title Фільтр
            
            button.button.button--outline.filter-toggle__button(type="button" aria-label="Hide Filter" data-filter-toggle)
                svg.button__icon(width="20" height="20p")
                    use(xlink:href="img/sprite.svg#filter")
                    
        header.page-section__header
            .page-section__descr
                button.button.button--outline.page-section__back-button(type="button" aria-label="Back" data-tooltip="Назад")
                    svg.button__icon(width="10" height="19")
                        use(xlink:href="img/sprite.svg#arrow-left")

                .page-section__info
                    h1.page-title.page-section__title Ст. 1 глава 1 Кримінальне процесуальне законодавство
                    
                    time.page-section__date
                        a.black-link(href="#") 27.11.2023

                    ul.page-section__tags
                        li.page-section__tags-item
                            a.black-link(href="#") ккс вс
                        
                        li.page-section__tags-item
                            a.black-link(href="#") ккс вс
                        
                        li.page-section__tags-item
                            a.black-link(href="#") ккс вс

                    a.blue-link.page-section__link(href="#") Посилання на рішення 

            ul.actions.page-section__actions
                li.actions__item
                    button.button.button--outline.actions__button(type="button" aria-label="Add to bookmarks" data-tooltip="В закладки" data-modal="modal-bookmark")
                        svg.button__icon(width="19" height="24")
                            use(xlink:href="img/sprite.svg#bookmark")

                li.actions__item
                    button.button.button--outline.actions__button(type="button" aria-label="Add page" data-tooltip="Робота з файлом" data-modal="modal-file")
                        svg.button__icon(width="22" height="24")
                            use(xlink:href="img/sprite.svg#create")

                li.actions__item
                    button.button.button--outline.actions__button(type="button" aria-label="Copy" data-tooltip="Копіювати")
                        svg.button__icon(width="22" height="22")
                            use(xlink:href="img/sprite.svg#copy")

                li.actions__item
                    button.button.button--outline.actions__button(type="button" aria-label="Word" data-tooltip="Word")
                        svg.button__icon(width="18" height="21")
                            use(xlink:href="img/sprite.svg#word-simple")

        .page-section__buttons
            .tabs.page-section__tabs(data-tabs="tabs-1" data-active="0")
                ul.tabs__nav
                    li.tabs__nav-item
                        button.button.button--outline.tabs__nav-btn(type="button") Назва ПП

                    li.tabs__nav-item
                        button.button.button--outline.tabs__nav-btn(type="button") ПП

                    li.tabs__nav-item
                        button.button.button--outline.tabs__nav-btn(type="button") Статья КК
            
            button.button.page-section__button(type="button") Зберегти
            
            button.button.button--outline.page-section__button(type="button") Экспорт у Word
                svg.button__icon(width="28" height="28")
                    use(xlink:href="img/sprite.svg#word")
        
        .tabs-content.page-section__tabs-content(data-tabs-content="tabs-1")
            .tabs-panel
                .page-section__text
                    p Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
                    p Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
                    p 1. Порядок кримінального провадження на території України визначається лише кримінальним процесуальним законодавством України.
                    p 2. Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
                    p 3. Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
                    p 1. Порядок кримінального провадження на території України визначається лише кримінальним процесуальним законодавством України.
                    p 2. Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
                    p 3. Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
                    p 1. Порядок кримінального провадження на території України визначається лише кримінальним процесуальним законодавством України.
                    p 2. Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
                    p 3. Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.
                    p 1. Порядок кримінального провадження на території України визначається лише кримінальним процесуальним законодавством України.
                    p 2. Кримінальне процесуальне законодавство України складається з відповідних положень Конституції України, міжнародних договорів, згода на обов’язковість яких надана Верховною Радою України, цього Кодексу та інших законів України.
                    p 3. Зміни до кримінального процесуального законодавства України можуть вноситися виключно законами про внесення змін до цього Кодексу та/або до законодавства про кримінальну відповідальність, та/або до законодавства України про адміністративні правопорушення.

                    button.button.button--outline.button--xs(type="button" aria-label="Copy" data-tooltip="Копіювати")
                        svg.button__icon(width="14" height="14")
                            use(xlink:href="img/sprite.svg#copy")

            .tabs-panel
                .page-section__text
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium tempore eveniet deleniti officiis nihil distinctio consequuntur possimus voluptates. Adipisci exercitationem amet modi optio ipsum consectetur numquam, iste dolore tempora fuga?
            
            .tabs-panel
                .page-section__text
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium tempore eveniet deleniti officiis nihil distinctio consequuntur possimus voluptates. Adipisci exercitationem amet modi optio ipsum consectetur numquam, iste dolore tempora fuga?
