section.welcome-section
    .container.welcome-section__container
        picture.welcome-section__picture
            img.welcome-section__img(src="img/welcome-img.svg" loading="lazy" width="416" height="401" alt="alt")

        .welcome-section__text
            p Ми зібрали для вас безліч правових позицій. Для нас немає нічого важливішого, ніж ваш успіх у юридичній галузі.
        
        a.button.welcome-section__button(href="#") Перейти у збірник